@model IEnumerable<practica5.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>TABLA EMPLEADOS</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Nuevo Empleado</a>
</p>

<form asp-controller="Empleadoes" asp-action="index" method="get" class="d-flex" role="search">

    <input class="form-control me-2" type="text" placeholder="Buscar" aria-label="Search" name="buscar">
    <button class="btn btn-outline-success" type="submit">Buscar</button>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td class="btn-group" role="group" aria-label="Basic outlined example">
                    <a asp-action="Edit" asp-route-id="@item.IdEmpleado" class="btn btn-outline-secondary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdEmpleado" class="btn btn-outline-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdEmpleado" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
