@model IEnumerable<practica5.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>TABLA PRODUCTOS</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Nuevo Producto</a>
</p>

<form asp-controller="Productoes" asp-action="index" method="get" class="d-flex" role="search">

    <input class="form-control me-2" type="text" placeholder="Buscar" aria-label="Search" name="buscar">
    <button class="btn btn-outline-success" type="submit">Buscar</button>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td class="btn-group" role="group" aria-label="Basic outlined example">
                    <a asp-action="Edit" asp-route-id="@item.IdProducto" class="btn btn-outline-secondary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdProducto" class="btn btn-outline-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdProducto" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
